i {
  // display: inline-block;
  // background-color: black;
  &.pray {
    mask: url(../../img/icons/pray.svg) no-repeat center;
    mask-size: contain;
    width: 19px;
    height: 19px;
    display: inline-block;
    background-color: black;
  }
}
