@import "reset";
@import "vars";
@import "fonts";
@import "icons";

// Html {
// font-size: 10px;
// }

:root {
  --black: #000;
  --white: #fff;
  --accent: #eb2e17;
  --veil: rgba(255, 255, 255, 0.9);
}

html {
  background-color: var(--white);
  &.moss {
    --black: #93a1a1;
    --white: #0a0e12;
    --accent: #946e1e;
    --alt: #629e72;
    --veil: rgba(0, 0, 0, 0.9);
    .spell {
      .spell_inner {
        ul.terms.large {
          li {
            background-color: var(--alt);
            border-color: var(--alt);
          }
        }
      }
    }
  }
  &.solarized {
    // filter: invert(1) contrast(0.8);
    --black: #93a1a1;
    --white: #002b36;
    --accent: #cb4b16;
    --alt: #eee8d5;
    --veil: rgba(0, 0, 0, 0.9);
  }
  &.simple_dark {
    --black: #a1a1a1;
    --white: #1c1c1c;
    --accent: #2a6c91;
    --alt: #eee8d5;
    --veil: rgba(0, 0, 0, 0.9);
  }
  &.mana {
    --black: #dfcdc2;
    --white: #361c6f;
    --accent: #d0c3ff;
    --alt: #53c1bf;
    --veil: rgba(0, 0, 0, 0.9);
    .spell {
      .spell_inner {
        ul.terms.large {
          li {
            background-color: var(--alt);
            border-color: var(--alt);
          }
        }
      }
    }
  }
  &.soft {
    --black: #3c2c2c;
    --white: #ffd8d6;
    --accent: #86497a;
    --alt: #643542;

    .spell {
      .spell_inner {
        ul.terms.large {
          li {
            background-color: var(--alt);
            border-color: var(--alt);
          }
        }
      }
    }
  }
  &.curse {
    --black: #ebf2c5;
    --white: #2a0539;
    --accent: #40ac89;
    --alt: #8ed98b;
    --veil: rgba(0, 0, 0, 0.9);
    .spell {
      .spell_inner {
        ul.terms.large {
          li {
            background-color: var(--alt);
            border-color: var(--alt);
          }
        }
      }
    }
  }
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  &.disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: var(--black);
}

input,
select {
  color: var(--black);
  background-color: var(--white);
  &::placeholder {
    color: var(--black);
  }
}

select {
  border: 1px solid var(--black);
  padding: 0.435rem 0.6rem;
}

ul {
  list-style: none;
  padding: 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

#disabled_message {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 999;
  display: none;
  p {
    display: inline-block;
    padding: 0.25rem 0.6rem;
    color: var(--white);
    background-color: var(--black);
  }
}

.spell {
  list-style: none;
  padding: 1.5rem;
  border: var(--black) 1px solid;
  border-width: 1px;
  position: relative;
  background-color: var(--white);
  &:hover {
    .controls {
      display: block;
    }
  }
  &.filter-hidden,
  &.filter-hidden-by-name {
    display: none;
  }
  .controls {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 2;
    display: none;
    // &.disabled {
    //   opacity: 0;
    // }
    a {
      // width: 40px;
      // height: 40px;
      padding-left: 0.25rem;
      text-decoration: none;
      color: var(--black);
      display: inline-block;
      position: relative;
      i {
        font-size: 1.5rem;
      }
      span {
        position: absolute;
        // transition: 0.2s;
        width: 0;
        font-size: 0.9rem;
        right: calc(100% + 0.15rem);
        top: 7px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        background-color: var(--white);
        text-align: right;
        pointer-events: none;
      }
      &:hover {
        i {
          color: var(--accent);
        }
        span {
          width: 120px;
        }
      }
      &.color_picker {
        span {
          top: 2px;
        }
        i {
          font-size: 1.1rem;
          vertical-align: 3px;
          margin-right: 0.2rem;
        }
      }
    }
  }
  &:only-child {
    max-width: 600px;
  }
  .spell_inner {
    .description_wrapper {
      max-height: 200px;
      overflow: auto;
    }
    p {
      font-size: 0.9rem;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      a.spell_link {
        color: var(--black);
      }
    }
    h3 {
      position: relative;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      i {
        margin-right: 0.35rem;
        vertical-align: bottom;
      }
      span {
        font-size: 1.1rem;
        color: grey;
        display: inline-block;
        background-color: var(--black);
        padding: 0.4rem 0.9rem;
        color: var(--white);
        i {
          font-size: 1.3rem;
          &:not(:first-of-type) {
            margin: 0 0.2rem 0 0.5rem;
          }
        }
      }
    }
    ul.terms {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      &.large {
        margin-bottom: 0.5rem;
        li {
          background-color: var(--black);
          p {
            font-size: 1.1rem;
            color: var(--white);
            i {
              font-size: 1.3rem;
            }
          }
        }
      }
      &.small {
        margin-bottom: 1rem;
        li {
          border-color: var(--black);
          p {
            i {
              vertical-align: -5px;
            }
          }
        }
      }
      li {
        display: inline-block;
        padding: 0.15rem 0.6rem;
        border: 1px solid #000;
        &.hidden {
          display: none;
        }
        i {
          font-size: 1.2rem;
          margin-right: 0.3rem;
          vertical-align: -4px;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
    p {
      &.higher-level {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        color: grey;
        span {
          display: inline-block;
          color: grey;
          font-size: 0.8rem;
          margin-right: 0.5rem;
          vertical-align: text-bottom;
          border: 1px solid grey;
          padding: 0 0.3rem 0 0.2rem;
          i {
            // font-size: 1.3rem;
            margin-right: 0.2rem;
            display: inline-block;
            font-size: 1rem;
            vertical-align: -3.5px;
          }
        }
      }
    }
  }
}

main {
  width: 100%;
  padding: 1rem 3.5vw;
  .outer_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    &#header {
      width: 100%;
      height: 60px;
      margin-top: 0;
      .inner_box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1600px;
        .header_left {
          display: flex;
          height: auto;
          gap: 0.5rem;
          button,
          label {
            background-color: transparent;
            border: 1px solid var(--black);
            color: var(--black);
            border-radius: 0;
            display: inline-block;
            padding: 0.4rem 0.6rem;
            height: 38px;
            background-color: var(--white);
            cursor: pointer;
            i {
              vertical-align: -2px;
            }
            &:hover {
              background-color: var(--accent);
              border-color: var(--accent);
              color: var(--white);
            }
          }
        }
        .header_right {
          a {
            font-size: 1rem;
            text-decoration: none;
            color: var(--black);
            i {
              font-size: 1.7rem;
              vertical-align: -4px;
              margin-right: 0.5rem;
            }
            &:hover,
            &.active {
              color: var(--accent);
            }
          }
          .visual_prefs {
            position: relative;
            #visual_prefs_panel {
              width: 260px;
              display: none;
              border: 1px solid var(--black);
              position: absolute;
              top: 100%;
              right: 0;
              z-index: 3;
              background-color: var(--white);
              ul {
                list-style: none;
                padding: 1rem;
                li {
                  display: flex;
                  flex-wrap: nowrap;
                  a {
                    display: block;
                    height: 40px;
                  }
                  select {
                    width: 100%;
                  }
                  i {
                    color: var(--black);
                    font-size: 1.8rem;
                    margin-right: 0.5rem;
                  }
                }
              }
            }
            #visual_prefs_button {
              &.active + #visual_prefs_panel {
                display: block;
              }
            }
          }
        }
      }
    }
    &#title {
      h1 {
        text-align: center;
        i {
          font-size: 2.3rem;
          vertical-align: sub;
        }
      }
    }
    &#search {
      .inner_box {
        max-width: 350px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 600px) {
          max-width: none;
        }
        .search_wrapper {
          position: relative;
          width: 100%;
          #loading {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0;
            overflow: hidden;
            i {
              font-size: 1.8rem;
              position: absolute;
              top: -5px;
              left: -100%;
              color: var(--black);
            }
            &.active {
              i {
                animation: loading;
                animation-iteration-count: infinite;
                animation-duration: 0.8s;
                animation-timing-function: linear;
              }
              opacity: 1;
              @keyframes loading {
                0% {
                  left: -100%;
                }
                100% {
                  left: 100%;
                }
              }
            }
          }
          input {
            height: 50px;
            width: 100%;
            padding: 0 10px;
            border: 1px solid var(--black);
            background-color: var(--white);
            border-radius: 0;
            &::placeholder {
              color: var(--black);
            }
          }
          ul#results {
            position: absolute;
            list-style: none;
            padding: 0;
            overflow: auto;
            max-height: 70vh;
            // border-radius: 0 0 10px 10px;
            border: lightgrey solid 1px;
            width: 100%;
            z-index: 4;
            display: none;

            &.open {
              display: block;
            }
            li {
              width: 100%;
              border-bottom: lightgrey 1px solid;
              background-color: var(--white);
              a {
                width: 100%;
                padding: 0.2rem 10px;
                height: auto;
                color: var(--black);
                text-decoration: none;
                display: block;
                position: relative;
                &:after {
                  position: absolute;
                  font-family: "remixicon" !important;
                  content: "\ea13";
                  right: 10px;
                  font-size: 30px;
                  opacity: 0;
                  top: 7px;
                }
                h3 {
                  max-width: 92%;
                }
                p {
                  color: grey;
                  font-size: 0.9rem;
                }
                &:hover {
                  color: var(--accent);
                  &:after {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
    &#filters {
      margin-bottom: 0;
      .inner_box {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        ul.filters {
          list-style: 0;
          padding: 0;
          display: flex;
          gap: 0.5rem;
          margin-right: -0.5rem;
          flex-wrap: wrap;
          @media only screen and (max-width: 600px) {
            margin-right: 0;
          }
          h3 {
            width: 100%;
            text-align: right;
            margin-top: 6px;
            padding-right: 6px;
          }
          li {
            &:first-child {
              h3 {
                text-align: left;
              }
              @media only screen and (max-width: 880px) {
                width: 100%;
              }
            }
            @media only screen and (max-width: 600px) {
              width: 100%;
              max-width: 300px;
            }
          }

          li.filter,
          li.remove-filters,
          input {
            font-size: 1rem;
            background-color: transparent;
            border: 1px solid var(--black);
            display: inline-block;
            input {
              border: none;
              height: 100%;
              width: 100%;
              padding: 0.435rem 0.6rem;
            }
            i {
              font-size: 1.3rem;
              margin-left: 0.3rem;
              vertical-align: -5px;
              color: var(--black);
            }
            a {
              padding: 0.435rem 0.6rem;
              display: inline-block;
              color: var(--black);
              text-decoration: none;
              &:hover {
                background-color: var(--accent);
                color: var(--white);
              }
              &.active {
                background-color: var(--black);
                color: var(--white);
              }
            }
            &:hover {
              border-color: var(--accent);
            }
            &.remove-filters {
              border-color: transparent !important;
              height: 38px;
              width: 0;
              overflow: hidden;
              transition: 0.2s;
              a {
                height: 38px;
                width: 38px;
                padding: 0;
                i {
                  font-size: 1.6rem;
                  margin-left: 0.43rem;
                }
              }
              &.active {
                width: 38px;
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
    &#spellsheet {
      margin-top: 0;
      .inner_box {
        width: 100%;
        background-color: var(--white);
        // padding: 3rem 0;
        max-width: 1600px;
        .message {
          display: none;
          margin-top: 4rem;
          text-align: center;
          &#no_spells {
            display: block;
          }
        }
        .spellsheet_wrapper {
          h2 {
            font-size: 1.8rem;
            height: 45px;
            margin: 1.5rem 0 0.5rem;
            display: none;
            position: sticky;
            top: 0;
            background-color: var(--white);
            z-index: 1;
          }
          .spells {
            display: none;
            padding: 0;
            display: grid;
            grid-gap: 1.5rem;
            grid-template-columns: 1fr 1fr 1fr;
            position: relative;
            @media only screen and (max-width: 1200px) {
              grid-template-columns: 1fr 1fr;
            }
            @media only screen and (max-width: 800px) {
              grid-template-columns: 1fr;
            }
            li {
              list-style: none;
            }
            ul {
              padding: 0;
            }
          }
        }
      }
      .temp_spell_wrapper {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--veil);
        z-index: 10;
        #temp_spell {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .spell {
            width: 100%;
            max-width: 600px;
            background-color: var(--white);
            max-height: 90vh;
            overflow: auto;
            .controls {
              display: block;
              a {
                &.color_picker,
                &.moveup_spell,
                &.movedown_spell {
                  display: none;
                }
                &.remove_spell {
                  span {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
      #bookmarks {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 45px;
        background-color: var(--black);
        .bookmark {
          width: 100%;
          height: 45px;
          .bookmark_inner {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              margin: 0;
              color: var(--white);
            }
          }
        }
      }
    }
  }
}
