html {
  &.default {
    &.modern {
      .spell {
        .spell_inner {
          ul.terms {
            &.small {
              li {
                border: 1px solid var(--black);
              }
            }
          }
        }
      }
    }
  }
  &.moss {
    --black: #93a1a1;
    --white: #191e22;
    --accent: #946e1e;
    --alt: #629e72;
    --veil: rgba(0, 0, 0, 0.9);
    .spell {
      .spell_inner {
        ul.terms.large {
          li,
          .popup {
            background-color: var(--alt);
            border-color: var(--white);
          }
        }
      }
    }
    &.modern {
      .spell {
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
        .spell_inner {
          .notes {
            width: 100%;
            padding: 0.8rem 1rem;
            border-radius: 10px;
            background-color: #1f2429;
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
            margin-top: 1rem;
            border: none;
          }
        }
      }
    }
  }
  &.solarized {
    // filter: invert(1) contrast(0.8);
    --black: #93a1a1;
    --white: #002b36;
    --accent: #cb4b16;
    --alt: #eee8d5;
    --veil: rgba(0, 0, 0, 0.9);
    scrollbar-color: darken(#93a1a1, 20%) var(--white);
    scrollbar-width: thin;
    ::-webkit-scrollbar {
      background-color: var(--white);
      width: 0.4rem;
      padding-left: 0.2rem;
    }
    ::-webkit-scrollbar-thumb {
      background-color: darken(#93a1a1, 20%);
      border-radius: 10px;
    }
    &.modern {
      .spell {
        border: 1px solid #586e75;
      }
    }
  }
  &.simple_dark {
    --black: #a1a1a1;
    --white: #1c1c1c;
    --accent: #2a6c91;
    --alt: #eee8d5;
    --veil: rgba(0, 0, 0, 0.9);
  }
  &.parchment {
    --black: #ffd6b1;
    --white: #383946;
    --accent: #6e9cae;
    --alt: #6e9cae;
    --veil: rgba(0, 0, 0, 0.9);
    .spell {
      .spell_inner {
        ul.terms.large {
          li,
          .popup {
            background-color: var(--alt);
            border-color: var(--white);
          }
        }
      }
    }
    &.modern {
      .spell {
        background-color: var(--black) !important;
        .controls,
        span {
          background-color: var(--black) !important;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        a,
        span {
          color: var(--white) !important;
        }
        .spell_inner {
          ul.terms {
            &.large {
              li {
                background-color: var(--white) !important;
                * {
                  color: var(--black) !important;
                }
              }
            }
            &.small {
              li {
                background-color: var(--black) !important;
                color: var(--white) !important;
              }
            }
          }
        }
      }
    }
  }
  &.mana {
    --black: #dfcdc2;
    --white: #361c6f;
    --accent: #d0c3ff;
    --alt: #53c1bf;
    --veil: rgba(0, 0, 0, 0.9);
    .spell {
      .spell_inner {
        ul.terms {
          &.large {
            li,
            .popup {
              background-color: var(--alt);
              border-color: var(--white);
            }
          }
        }
      }
    }
    &.modern {
      .spell {
        background-color: #3d2475 !important;
        .spell_inner {
          ul.terms {
            li {
              border: none;
              border-radius: 10px;
            }
            &.small {
              li {
                // background-color: #3d2475;
              }
            }
          }
        }
        .controls {
          background-color: #3d2475 !important;
          span {
            background-color: #3d2475 !important;
          }
        }
      }
    }
  }
  &.pastry {
    --black: #3c2c2c;
    --white: #ffd8d6;
    --accent: #86497a;
    --alt: #643542;
    scrollbar-color: lighten(#3c2c2c, 45%) var(--white);
    scrollbar-width: thin;
    ::-webkit-scrollbar {
      background-color: var(--white);
      width: 0.4rem;
      padding-left: 0.2rem;
    }
    ::-webkit-scrollbar-thumb {
      background-color: lighten(#3c2c2c, 45%);
      border-radius: 10px;
    }
    .spell {
      .spell_inner {
        ul.terms.large {
          li,
          .popup {
            background-color: var(--alt);
            border-color: var(--white);
          }
        }
      }
    }
  }
  &.skyrider {
    --black: #4f3820;
    --white: #fff;
    --accent: #e1700c;
    --alt: #0082aa;

    .spell {
      .spell_inner {
        ul.terms.large {
          li {
            background-color: var(--alt);
            border-color: var(--white);
          }
        }
      }
    }
  }
  &.firedragon {
    --black: #fff;
    --white: #4a3419;
    --accent: #b47430;
    --alt: #fb5848;
    --veil: rgba(0, 0, 0, 0.9);
    .spell {
      .spell_inner {
        ul.terms.large {
          li,
          .popup {
            background-color: var(--alt);
            border-color: var(--white);
          }
        }
      }
    }
    &.modern {
      .spell {
        background-color: #573e1f !important;
        .controls,
        span {
          background-color: #573e1f !important;
        }
      }
    }
  }
  &.oceandragon {
    --black: #dfcdc2;
    --white: #200822;
    --accent: #20d781;
    --alt: #429fae;
    --veil: rgba(0, 0, 0, 0.9);
    .spell {
      .spell_inner {
        ul.terms.large {
          li,
          .popup {
            background-color: var(--alt);
            border-color: var(--white);
          }
        }
      }
    }
    &.modern {
      .spell {
        border: 1px solid var(--alt) !important;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4) !important;
      }
    }
  }
  &.dawn {
    --black: #5c5c7e;
    --white: #e5f2f5;
    --accent: #6d6ac6;
    --alt: #a589bb;
    .spell {
      .spell_inner {
        ul.terms.large {
          li,
          .popup {
            background-color: var(--alt);
            border-color: var(--white);
          }
        }
      }
    }
    &.modern {
      .spell {
        // transition: box-shadow .1s;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15) !important;
        &:hover {
          // box-shadow: 0 12px 15px rgba(0, 0, 0, 0.22) !important;
        }
      }
    }
  }
  &.abyss {
    --black: #9affd9;
    --white: #000;
    --accent: #fffb00;
    --alt: #6954ff;
    --veil: rgba(0, 0, 0, 0.9);
    .spell {
      .spell_inner {
        ul.terms.large {
          li,
          .popup {
            background-color: var(--alt);
            border-color: var(--white);
          }
        }
      }
    }
    &.modern {
      .spell {
        border: 1px solid var(--black) !important;
        .spell_inner {
          ul.terms.small {
            li {
              border: 1px solid var(--black) !important;
            }
          }
        }
      }
    }
  }
  &.curse {
    --black: #ebf2c5;
    --white: #2a0539;
    --accent: #40ac89;
    --alt: #8ed98b;
    --veil: rgba(0, 0, 0, 0.9);
    .spell {
      .spell_inner {
        ul.terms.large {
          li,
          .popup {
            background-color: var(--alt);
            border-color: var(--white);
          }
        }
      }
    }
    &.modern {
      .spell {
        border: 1px solid #3d2940;
      }
    }
  }
  &.modern {
    #search {
      .inner_box {
        .search_wrapper {
          input {
            border-radius: 10px !important;
          }
        }
      }
    }
    #filters {
      .inner_box {
        ul.filters {
          li {
            border-radius: 10px;
            button:last-child {
              border-radius: 0 10px 10px 0;
            }
          }
        }
      }
    }
    .spell {
      border-radius: 10px;
      border: none;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
      .spell_inner {
        .terms {
          li {
            border-radius: 10px;
            border: none;
          }
        }
      }
    }
  }
  &.print {
    .notes {
      border-color: black !important;
      p {
        color: black !important;
      }
    }
  }
}
